@charset "UTF-8";
/* generated background gradient via https://htmlcheatsheet.com/css/ */
.body-bg {
	background-color: #E2EBF0;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	margin: 10vh;
}

.card {
	border: none; 
	transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
	overflow: hidden;
	border-radius: 20px;
	/* min-height: px; */
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.display-card {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-direction: row;
	align-items: center;
	justify-content: between;
	flex-wrap: wrap;
}

.img-size {
	width: 375px;
	height: 250px;
	border-radius: 20px;
}

.img-md {
	width: 220px;
	height: 140px;
	border-radius: 20px;
}

.img-sml {
	width: 150px;
	height: 95px;
	border-radius: 20px;
}

.border {
	border-color: #2D4F85;
}

.nav {
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}